// Slick arrow custom
.slick-arrow.slick-prev {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  border: 0;
  font-size: 16px;
  line-height: 100%;
  &::before {
    background-position: 0 -32px;
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
      no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
  }
  &:hover {
    background-color: white;
  }
}

.slick-arrow.slick-next {
  @extend .slick-prev;
  &::before {
    background-position: 0 -48px;
  }
}
