.user__information {
    background-color: #f7f7f7;
    .user__information__content {
        max-width: 85%;
        margin: 0 auto;
        .card-1 {
            margin-top: 50px;
            position: relative;
            width: 100%;
            height: auto;
            background: #fff;
            box-shadow: none;
            .preview__public__model {
                max-width: 91%;
                .btn__profile {
                    text-align: center;
                    border: 1px solid black;
                    color: black;
                    font-weight: 600;
                    margin-top: 10px;
                    height: 34px;
                    padding-top: 4px;
                    border-radius: 5px;
                }

                .btn__profile:hover {
                    background-color: rgb(12, 62, 142);
                    color: white;
                }
            }
            .home__town {
                .flex-item-vietnam {
                    color: #00698c;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                }

                .flex-item-year {
                    color: #00698c;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                }
                .home__town__one {
                    max-width: 85%;
                    margin: 0 auto;
                    .flex-item-from {
                        font-size: 16px;
                        float: left;
                        font-weight: 400;
                        width: 80%;
                        margin-bottom: 20px;
                        color: #62646a;
                    }
                    .flex-item-vietnam {
                        float: left;
                        width: 20%;
                    }
                }
                .home__town__two {
                    max-width: 85%;
                    margin: 0 auto;
                    .flex-item-member {
                        font-size: 16px;
                        float: left;
                        font-weight: 400;
                        width: 80%;
                        margin-bottom: 20px;
                        color: #62646a;
                    }
                    .flex-item-year {
                        float: left;
                        width: 20%;
                    }
                }
            }
        }
    }
}

// card button left
.card__bottom {
    .add__form {
        .clear {
            clear: both;
        }
        .noidung__add {
            margin: 0 auto;
            text-align: center;
            /* width: 43%; */
            border: 1px solid #17b875;
            border-radius: 31px;
            width: 44%;
            margin-top: 30px;
            height: 33px;
        }
        .add__form__certification {
            max-width: 85%;
            margin: 0 auto;
            .flex-item-certification {
                font-size: 16px;
                float: left;
                font-weight: 400;
                width: 80%;
                margin-bottom: 20px;
                color: #62646a;
            }
            .flex-item-add-certification {
                line-height: 30px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
                float: left;
                width: 20%;
            }
            .add__button__certification {
                .cancle__add__certification {
                    background: white;
                    letter-spacing: 1px;
                    height: 38px;
                    margin-bottom: 13px;
                    text-align: center;
                    padding-top: 8px;
                    font-weight: 500;
                    border: 1px solid green;
                    border-radius: 5px;
                }
            }
        }
        .add__form__skill {
            max-width: 85%;
            margin: 0 auto;
            .flex-item-skill {
                font-size: 16px;
                float: left;
                font-weight: 400;
                width: 80%;
                margin-bottom: 20px;
                color: #62646a;
            }
            .flex-item-add {
                line-height: 30px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
                float: left;
                width: 20%;
            }
            .add__skill {
                background: rgba(238, 235, 235, 0.898);
                width: 100%;
                box-shadow: none;
                input {
                    height: 36px;
                    width: 91%;
                    text-align: center;
                    margin-left: 13px;
                    margin-top: 20px;
                }
                .cancle {
                    margin-top: 20px;
                    font-weight: 500;
                    text-align: center;
                    background: white;
                    height: 35px;
                    padding-top: 7px;
                    border: 1px solid green;
                    border-radius: 4px;
                    margin-bottom: 20px;
                }
                .add {
                    margin-left: 0px !important;
                    height: 35px;
                    /* padding: 0px; */
                    margin-top: 21px;
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
        .add__certification {
            background: rgba(238, 235, 235, 0.898);
            width: 100%;
            box-shadow: none;
            input {
                height: 36px;
                width: 91%;
                text-align: center;
                margin-left: 13px;
                margin-top: 20px;
            }
            .cancle {
                font-weight: 500;
                text-align: center;
                background: white;
                height: 35px;
                padding-top: 7px;
                border: 1px solid green;
                border-radius: 4px;
                margin-bottom: 20px;
            }
            .add {
                margin-left: 0px !important;
                height: 35px;
                margin-top: 1px;
                width: 100%;
            }
        }
    }
    .noidung__addskill {
        margin: 0 auto;
        text-align: center;
        /* width: 43%; */
        border: 1px solid #17b875;
        border-radius: 31px;
        width: 44%;
        margin-top: 30px;
        height: 33px;
    }
}

.card__bottom {
    margin-bottom: 90px;
    .learning {
        img {
            width: 27%;
            margin-left: 28px;
            margin-top: 20px;
        }
    }
    .circle {
        img {
            font-weight: 600;
            font-size: 25px;
            width: 80%;
            text-align: center;
            margin-left: 52px;
        }
    }
    .badges {
        font-weight: 700;
        font-size: 23px;
        text-align: center;
        margin-left: 10px;
    }
    .boost {
        letter-spacing: 1px;
        font-size: 18px;
        text-align: center;
    }
    .enroll__now {
        max-width: 91%;
        button {
            width: 100%;
            margin-top: 30px;
            font-weight: 500;
        }
    }
}

// right
.user__information__right {
    .car__done__create {
        border-radius: 1px;
        margin-top: 50px;
        width: 100%;
        height: 141px;
        padding: 20px 20px 20px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba(206, 200, 200, 0.769);
        box-shadow: none;
        .Buying {
            font-size: 18px;
            img {
                width: 50px;
            }
            b {
                font-weight: 600;
                line-height: 35px;
                font-size: 17px;
            }
            span {
                line-height: 35px;
                font-size: 15px;
            }
        }
        .questions {
            font-weight: 500;
            font-size: 15px;
            margin-top: -10px;
            line-height: 30px;
        }
        .industry {
            line-height: 30px;
            font-weight: 500;
            font-size: 15px;
            color: #1dbf73;
            margin-top: 5px;
        }
    }
    .create__new__gif {
        height: 90px;
        width: 100%;
        position: relative;
        padding: 26px 20px 20px 20px;
        border: 1px solid #9f9ca26b;
        .Gigs {
            font-size: 15px;
            line-height: 30px;
        }
        .button__gif {
            button {
                position: absolute;
            }
        }
    }
    .history__job__booking {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        .bookingName {
            img {
                width: 100px;
            }
            .name {
                margin-bottom: 30px;
            }
            .ant-card-bordered {
                width: 150%;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
        }
    }
}

.upload__avatar {
    .select {
        max-width: 100%;
        margin: 0 auto;
        .img_select {
            text-align: center;
            margin-top: 30px !important;
            img {
                width: 150px;
                height: 150px;
                font-size: 3em;
                border-radius: 176px;
                position: relative;
            }
        }
    }
    .chontep {
        max-width: 30%;
        margin: 0 auto;
        .file {
            height: 20%;
            width: 100%;
            color:#f7f7f7;
            // margin-left: 156px;
            margin-top: 20px;
        }
    }

    .tacvu {
        margin-left: 140px;
        border: 1px;
        background: #7ea587;
        color: white;
        height: 41px;
        width: 30%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.userInformation__item1 {
    float: left;
    width: 40%;
}
.userInformation__item2 {
    float: left;
    width: 60%;
}

@media (max-width: 1510px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 50%;
    }
    .userInformation__item2 {
        float: left;
        width: 50%;
    }
}

@media (max-width: 1310px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 50%;
    }
    .userInformation__item2 {
        float: left;
        width: 50%;
    }
}

@media (max-width: 1080px) {
    .history__job__booking {
        .bookingName {
            .ant-card-bordered {
                width: 165% !important;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
        }
    }
}
@media (max-width: 992px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }
    .userInformation__item1 {
        float: left;
        width: 50%;
    }
    .userInformation__item2 {
        float: left;
        width: 50%;
    }

    .history__job__booking {
        .bookingName {
            .ant-card-bordered {
                width: 165% !important;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
        }
    }

    .car__done__create {
        width: 100%;
        height: 191px !important;
        padding: 20px 20px 20px 20px;
        .Buying {
            font-size: 18px;
            img {
                width: 70px !important;
            }
            b {
                font-weight: 600;
                line-height: 10px;
                font-size: 17px;
            }
            span {
                font-size: 15px;
            }
        }
        .questions {
            font-weight: 500;
            font-size: 15px;
            margin-top: -10px;
        }
        .industry {
            font-weight: 500;
            font-size: 15px;
            color: #1dbf73;
            margin-top: 10px;
        }
    }
    .create__new__gif {
        height: 140px !important;
        width: 100%;
        position: relative;
        padding: 26px 20px 20px 20px;
        border: 1px solid #9f9ca26b;
        .Gigs {
            font-size: 17px;
        }
        .button__gif {
            button {
                position: absolute;
            }
        }
    }
}

@media (max-width: 768px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }
    .userInformation__item1 {
        float: left;
        width: 50%;
    }
    .userInformation__item2 {
        float: left;
        width: 50%;
    }

    .history__job__booking {
        .bookingName {
            .ant-card-bordered {
                height: 200px !important;
                width: 192% !important;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
            .name {
                margin-left: 90px !important;
            }
        }
    }

    .car__done__create {
        width: 100%;
        height: 251px !important;
        // padding: 20px 20px 20px 20px;
        .Buying {
            font-size: 18px;
            img {
                width: 70px !important;
            }
            b {
                font-weight: 600;
                line-height: 10px;
                font-size: 17px;
            }
            span {
                font-size: 15px;
            }
        }
        .questions {
            font-weight: 500;
            font-size: 15px;
            margin-top: -10px;
        }
        .industry {
            font-weight: 500;
            font-size: 15px;
            color: #1dbf73;
            margin-top: 10px;
        }
    }
    .create__new__gif {
        height: 140px !important;
        width: 100%;
        position: relative;
        padding: 26px 20px 20px 20px;
        border: 1px solid #9f9ca26b;
        .Gigs {
            font-size: 17px;
        }
        .button__gif {
            button {
                position: absolute;
            }
        }
    }
}

@media (max-width: 676px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }
    .userInformation__item1 {
        float: left;
        width: 100%;
    }
    .userInformation__item2 {
        float: left;
        width: 100%;
    }

    .history__job__booking {
        .bookingName {
            .ant-card-bordered {
                width: 162% !important;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
            .name {
                margin-left: 90px !important;
            }
        }
    }
    .car__done__create {
        width: 100%;
        height: 251px !important;
        .Buying {
            font-size: 12px !important;
            img {
                width: 70px !important;
            }
            b {
                font-weight: 600;
                line-height: 10px;
                font-size: 12px !important;
            }
            span {
                font-size: 12px !important;
            }
        }
        .questions {
            font-weight: 500;
            font-size: 12px !important;
            margin-top: -10px;
        }
        .industry {
            font-weight: 500;
            font-size: 12px !important;
            color: #1dbf73;
            margin-top: 10px;
        }
    }
    .create__new__gif {
        height: 140px !important;
        width: 100%;
        position: relative;
        padding: 26px 20px 20px 20px;
        border: 1px solid #9f9ca26b;
        .Gigs {
            font-size: 12px !important;
        }
        .button__gif {
            button {
                position: absolute;
            }
        }
    }
}

@media (max-width: 552px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 100%;
    }
    .userInformation__item2 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 452px) {
    .user__information__content {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 100%;
    }
    .userInformation__item2 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .home__town__two {
        max-width: 85%;
        margin: 0 auto;
        .flex-item-member {
            font-size: 16px;
            float: left;
            font-weight: 400;
            width: 75% !important;
            margin-bottom: 20px;
            color: #62646a;
        }
        .flex-item-year {
            float: left;
            width: 25% !important;
        }
    }
}

@media (max-width: 576px) {
    .home__town__two {
        max-width: 85%;
        margin: 0 auto;
        .flex-item-member {
            font-size: 16px;
            float: left;
            font-weight: 400;
            width: 65% !important;
            margin-bottom: 20px;
            color: #62646a;
        }
        .flex-item-year {
            float: left;
            width: 35% !important;
        }
    }
}

@media (max-width: 544px) {
    .home__town__two {
        max-width: 85%;
        margin: 0 auto;
        .flex-item-member {
            font-size: 16px;
            float: left;
            font-weight: 400;
            width: 83% !important;
            margin-bottom: 20px;
            color: #62646a;
        }
        .flex-item-year {
            float: left;
            width: 17% !important;
        }
    }
}
